<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>257328865200-25a3djs5thv76q59pgqmu4ka882lvatu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257328865200-25a3djs5thv76q59pgqmu4ka882lvatu</string>
	<key>API_KEY</key>
	<string>AIzaSyAuY28op2i7hEgHan-CG-qvudn28E1Vsb8</string>
	<key>GCM_SENDER_ID</key>
	<string>257328865200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pcp.Picapp</string>
	<key>PROJECT_ID</key>
	<string>picapp-4fe4f</string>
	<key>STORAGE_BUCKET</key>
	<string>picapp-4fe4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:257328865200:ios:68754c8fa475e198</string>
	<key>DATABASE_URL</key>
	<string>https://picapp-4fe4f.firebaseio.com</string>
</dict>
</plist>
